<div class="row">
    <div class="col">
        @for (card of cardList; track card.title; let cardIndex = $index;) {
        <div class="row">
            <div class="col-10">
                <div class="card">
                    <div class="row">
                        <div class="col">
                            <h3 class="ak-sub-title">{{card.title}}</h3>
                        </div>
                    </div>
                    @for (control of card.controlList; track control.name; let controlIndex = $index;) {
                    <div class="row">
                        <div class="col-1">
                            Controls
                        </div>
                        <div class="col-8">
                            <div class="row form-group mb-4">
                                <div class="col">
                                    <input type="text" [name]="control.name" class="form-control"
                                        placeholder="Add name">
                                </div>
                                <div class="col">
                                    <input type="text" [name]="control.feature" class="form-control"
                                        placeholder="Add feature">
                                </div>
                                <div class="col">
                                    <input type="text" [name]="control.category" class="form-control"
                                        placeholder="Add category">
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            @if (controlIndex > 0) {
                            <a class="error"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            }
                        </div>
                        <div class="col-2">
                            @if (card.controlList.length == controlIndex+1) {
                            <button type="button" (click)="onAddRow(cardIndex)" class="primary-btn">Add
                                Row</button>
                            }
                        </div>
                    </div>
                    } @empty {
                    {{noDataFound}}
                    }
                </div>
            </div>
            <div class="col-2">
                <div class="row mb-3">
                    <div class="col">
                        <button type="button" class="edit-btn"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    </div>
                    <div class="col">
                        <button type="button" class="trash-btn"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
                <button type="button" class="secondary-btn">Add Card</button>
            </div>
        </div>
        } @empty {
        {{noDataFound}}
        }
        <div class="row">
            <div class="col">
                <button type="button" class="primary-btn">Get All Card Details</button>
            </div>
        </div>
    </div>
</div>