<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4 class="ak-sub-title">Form</h4>
                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                    <div class="form-group mb-3 row">
                        <label class="col">Name</label>
                        <div class="col">
                            <input [ngClass]="{'is-invalid': getControlError('name')}" type="text" class="form-control"
                                formControlName="name">
                            @if (getControlError('name')) {
                            <div>
                                @if (getControlRequiredError('name','required')) {
                                <span class="error">{{requiredErrorDescription('Name')}}</span>
                                }
                            </div>
                            }
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="col">Email Id</label>
                        <div class="col">
                            <input [ngClass]="{'is-invalid': getControlError('email')}" type="email" class="form-control"
                                formControlName="email">
                            @if (getControlError('email')) {
                            <div>
                                @if (getControlRequiredError('email','required')) {
                                <span class="error">{{requiredErrorDescription('Email Id')}}</span>
                                }
                                @if (getControlRequiredError('email','email')) {
                                <span class="error">Email Format is required</span>
                                }
                            </div>
                            }
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="col">Mobile Number</label>
                        <div class="col">
                            <input [ngClass]="{'is-invalid': getControlError('mobile')}" type="number" class="form-control"
                                formControlName="mobile">
                            @if (getControlError('mobile')) {
                            <div>
                                @if (getControlRequiredError('mobile','required')) {
                                <span class="error">{{requiredErrorDescription('Mobile Number')}}</span>
                                }
                                @if (getControlRequiredError('mobile','pattern')) {
                                <span class="error">Not a valid contact number</span>
                                }
                            </div>
                            }
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="col">Password</label>
                        <div class="col">
                            <input [ngClass]="{'is-invalid': getControlError('password')}" type="password" class="form-control"
                                formControlName="password">
                            @if (getControlError('password')) {
                            <div>
                                @if (getControlRequiredError('password','required')) {
                                <span class="error">{{requiredErrorDescription('Password')}}</span>
                                }
                            </div>
                            }
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="col">Confirm Password</label>
                        <div class="col">
                            <input [ngClass]="{'is-invalid': getControlError('confirmPassword')}" type="password"
                                class="form-control" formControlName="confirmPassword">
                            @if (getControlError('confirmPassword')) {
                            <div>
                                @if (getControlRequiredError('confirmPassword','required')) {
                                <span class="error">{{requiredErrorDescription('Confirm Password')}}</span>
                                }
                            </div>
                            }
                            @if (getConfirmPasswordNotMatchError()) {
                            <span class="error">Passwords do not match</span>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    @if (!editFlag) {
                                    <button type="submit" class="primary-btn">Submit</button>
                                    } @else {
                                    <button (click)="onUpdate()" type="button" class="primary-btn">Update</button>
                                    }
                                </li>
                                <li class="list-inline-item">
                                    <button type="button" (click)="resetForm()" class="secondary-btn">Reset</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4 class="ak-sub-title">Table</h4>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Sr.No.</th>
                            <th>Name</th>
                            <th>Email Id</th>
                            <th>Mobile No.</th>
                            <th>Action</th>
                        </tr>
                        @for (item of tableData; track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.mobile}}</td>
                            <td>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a (click)="onEdit($index)">Edit</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a (click)="onDelete($index)" class="trash">Delete</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        } @empty {
                        <tr>
                            <td>
                                <p class="error">No Data</p>
                            </td>
                        </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>