<div class="row">
    <div class="col">
        @if (profile()) {
        <div class="card">
            <img [src]="profile()?.url" class="card-img-top" [alt]="profile()?.label">
            <div class="card-body">
                <h5 class="card-title">{{profile()?.label}}</h5>
                <p class="card-text">{{profile()?.title}}</p>
                <button (click)="onActiveProfile(profile())" class="btn btn-primary">Active Profile</button>
            </div>
        </div>
        } @else {
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">No Profile Selected!!!, Please select from dropdown</h6>
            </div>
        </div>
        }
    </div>
</div>