@import './variable';
.btn{
  min-width: 130px;
  color: $whiteColor;
  border-radius: 35px;
  &:hover{
    background-color: $secondaryColor;
    color: $whiteColor;
  }
  &:focus{
    outline: 0;
    box-shadow: none;
  }
}
.primary-btn{
  @extend .btn;
  background-color: $primaryColor;
}
.secondary-btn{
  @extend .btn;
  background-color: $triColor;
}
.sm-btn{
  @extend .btn;
  background-color: $primaryColor;
  width: 60px;
  min-width: auto;
}
.icon-btn{
  @extend .btn;
  background-color: $primaryColor;
  width: 38px;
  height: 38px;
  min-width: auto;
  border-radius: 40px;
}
.edit-btn{
  @extend .icon-btn;
  background-color: $successColor;
}
.trash-btn{
  @extend .icon-btn;
  background-color: $errorColor;
}
